:root{
    --color-background: rgba(0, 0, 0, 0.05);
    --color-hover: rgba(0, 0, 0, 0.08);
    --color-tiktok: rgba(254, 44, 85, 1.0);
    --color-tiktok-hover: rgb(228, 23, 64);
    --color-form: rgba(0, 0, 0, 0.7);
    --color-login-signup: rgba(0, 0, 0, 0.5);
}


.videodetails{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;

    .videodetails--main{
        width: 65%;
        height: 100vh;
        display: flex;
        justify-content: center;
        //background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        position: relative;


        .bg--color{
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            z-index: 1;
        }

        img{
            width: 110%;
            height: auto;
            -webkit-filter: blur(8px); /* Safari 6.0 - 9.0 */
            filter: blur(8px);
            margin-top: -30%;
            position: absolute;
            display: block;
        }

        .videodetails--src{
            position: relative;
            width: auto;
            height: 100vh;
            z-index: 10;
        }

        .videodetails--exit{
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: none;
            background-color: rgba(255, 255, 255, 0.12);
            color: white;
            font-weight: bold;
            z-index: 10;
        }
        .videodetails--exit:hover{
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    .videodetails--sidebar{
        width: 35%;
        height: 100vh;
        //overflow-y: hidden;
        padding-top: 60px;
        box-sizing: border-box;

        .videodetails--infor{
            width: 100%;
            height: 30vh;
            padding-top: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            .video--user--infor{
                width: 100%;
                display: flex;

                img{
                    width: 55px;
                    height: 55px;
                    border-radius: 100%;
                    margin-right: 20px;
                    margin-left: 30px;
                }

                h1{
                    margin: 0;
                    font-size: 1.3em;
                    cursor: pointer;
                }
                h1:hover{
                    text-decoration: underline;
                }
                p{
                    margin: 0;
                    font-size: 0.9em;
                    color: var(--color-tiktok);
                }
                button{
                    width: 100px;
                    height: 35px;
                    margin-left: 30%;
                    margin-top: 5px;
                    font-weight: bold;
                    border: 1px solid var(--color-tiktok);
                    background-color: white;
                    border-radius: 3px;
                }
                button:hover{
                    background-color: rgba(255, 227, 233, 0.623);
                }
                .videodetails--follow--btn{
                    background-color: var(--color-tiktok);
                    color: white;
                }
                .videodetails--follow--btn:hover{
                    background-color: var(--color-tiktok-hover);
                    color: white;
                }
            }

            p{
                margin: 0;
                margin-left: 32px;
                margin-top: 20px;
            }
            h1{
                margin: 0;
                font-size: 1em;
                cursor: pointer;
                margin-left: 32px;
            }
            h1:hover{
                text-decoration: underline;
            }
            .like--view{
                margin-left: 32px;
                margin-top: 20px;
                display: flex;

                button{
                    width: 35px;
                    height: 35px;
                    border: none;
                    border-radius: 100%;
                    background-color: var(--color-background);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                button:hover{
                    background-color: rgba(0, 0, 0, 0.15);
                }
                h1{
                    margin: 0;
                    text-decoration: none;
                    margin-left: 5px;
                }

                .like{
                    display: flex;
                    align-items: center;
                }

                .view{
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .videodetails--comment{
            box-sizing: border-box;
            width: 100%;
            height: 54vh;
            overflow-y: scroll;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            
            .video--comment{
                width: 100%;
                overflow-y: scroll;
                padding: 20px 40px;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.05);
                .line--comment{
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    img{
                        width: 45px;
                        height: 45px;
                        border-radius: 100%;
                    }
                    div{
                        margin-left: 20px;
                        //width: 100%;
                        h1{
                            margin: 0;
                            font-size: 1.4em;
                            cursor: pointer;
                        }
                        h1:hover{
                            text-decoration: underline;
                        }
                        p{
                            display: block;
                            word-wrap: break-word;
                            margin: 0;
                            width: 300px;
                        }
                    }
                }
                .time--comment{
                    display: flex;
                    margin-left: 45px;
                    p{
                        margin-left: 20px;
                        font-size: 0.8em;
                        color: rgba(0, 0, 0, 0.5);
                    }
                    .show--replies{
                        font-weight: bold;
                        color: var(--color-tiktok);
                        cursor: pointer;
                    }
                    .show--replies:hover{
                        color: var(--color-tiktok-hover);
                    }
                }

                .like--comment{
                    position: absolute;
                    top: 25px;
                    right: 10px;
                    button{
                        background-color: none;
                        border: none;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 0.85em;
                    }
                    p{
                        margin: 0;
                        margin-left: 4px;
                        text-align: center;
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 0.8em;
                    }
                }
            }
        }

        .write--comment{
            width: 100%;
            height: 6vh;
            display: flex;
            align-items: center;

            input{
                width: 63%;
                height: 4.5vh;
                border: none;
                //border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 5px;
                margin-top: 10px;
                background-color: rgba(0, 0, 0, 0.05);
                margin-left: 40px;
                padding-right: 45px;
                padding-left: 20px;
                //box-sizing: border-box;
            }
            input:focus{
                border: 1px solid rgba(0, 0, 0, 0.2);
                outline: none;
            }
            .send{
                position: absolute;
                margin: 0;
                margin-top: 10px;
                right: 40px;
                cursor: pointer;
                color: var(--color-tiktok);
                font-weight: bold;
            }

            .non--send{
                position: absolute;
                margin: 0;
                margin-top: 10px;
                right: 40px;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.2);
                font-weight: bold;
            }
        }
    }
}

.like--comment--icon{
    color: var(--color-tiktok);
}

.tag--user{
    position: absolute;
    width: 20%;
    z-index: 100;
    bottom:  8vh;
    margin-left: 8%;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.08);
    button{
        width: 100%;
        height: 45px;
        border: none;
        background-color: white;
        text-align: left;
        padding-left: 30px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    button:hover{
        background-color: var(--color-tiktok);
        color: white;
    }
    button:not(:last-child){
        border: 1px solid rgba(0, 0, 0, 0.08);
    }
}


.replies{
    position: absolute;
    background-color: white;
    bottom: 8vh;
    width: 35%;
    border-bottom: 1px solid var(--color-background);
    border-top: 1px solid var(--color-hover);
    padding: 10px;
    box-sizing: border-box;

    p{
        margin: 0;
        margin-left: 22px;
        font-size: 0.95em;
        font-weight: bold;
    }

    span{
        color: var(--color-tiktok);
        font-weight: bold;
    }

    .replying{
        display: flex;
        justify-content: space-between;
        .close--rep{
            font-size: 1em;
        }
    }
}