:root {
  --color-background: rgba(0, 0, 0, 0.05);
  --color-hover: rgba(0, 0, 0, 0.08);
  --color-tiktok: rgba(254, 44, 85, 1);
  --color-tiktok-hover: rgb(228, 23, 64);
  --color-form: rgba(0, 0, 0, 0.7);
  --color-login-signup: rgba(0, 0, 0, 0.5);
}

.menu--components {
  display: flex;
  height: 60px;
  width: 100%;
  padding-left: 15%;
  //justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-hover);
  position: fixed;
  z-index: 100;
  background-color: white;
  .menu--logo {
    color: black;
  }

  .suggest--user--show {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 15px;
    border-radius: 2px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    .suggest--user--avatar {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      border: 1px solid black;
    }
    .suggest--user--infor {
      margin-left: 20px;
      h1 {
        margin: 0;
        font-size: 1em;
      }
      p {
        margin: 0;
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.5);
        font-weight: bold;
      }
    }
  }
  .suggest--user--show:hover {
    background-color: var(--color-background);
  }

  .menu--search {
    margin-left: 200px;
    width: 320px;
    height: 40px;
    padding: 0px 20px;
    padding-right: 3px;
    background-color: var(--color-background);
    border: 1px solid var(--color-background);
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
  }

  .menu--search:focus {
    outline: none;
    background-color: var(--color-hover);
  }

  .menu--search:hover {
    background-color: var(--color-hover);
  }

  .menu--search--btn {
    border: none;
    width: 50px;
    height: 40px;
    color: black;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid var(--color-background);
    border-left: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  .menu--search--btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu--user--div {
    position: relative;
    margin-left: 160px;
    display: flex;
    align-items: center;

    .menu--link--upload {
      color: black;
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: none;
    }
    .menu--link--upload:hover {
      text-decoration: underline;
    }
    .menu--login--btn {
      margin-left: 20px;
      height: 36px;
      width: 120px;
      border: none;
      border-radius: 5px;
      background-color: var(--color-tiktok);
      color: white;
      font-size: 1em;
      font-weight: bold;
    }
    .menu--login--btn:hover {
      background-color: var(--color-tiktok-hover);
    }
    .menu--avatar {
      margin-left: 40px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      //border: 1px solid var(--color-form);
      cursor: pointer;
    }
  }
}

// login
.menu--login {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-form);
  z-index: 1000;

  // choose--login
  .menu--login--choose {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    .menu--login--title {
      margin-top: 70px;
      margin-left: 25px;
    }
    .menu--login--email,
    .menu--login--google {
      margin-left: 25px;
      margin-top: 30px;
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border: 1px solid var(--color-login-signup);
      }
      button {
        width: 300px;
        height: 42px;
        border: 1px solid var(--color-login-signup);
        border-left: none;
        background-color: white;
        color: black;
        font-size: 1.05em;
        font-weight: bold;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .menu--login--change {
      margin-left: 25px;
      margin-top: 50px;
      font-weight: bold;
      span {
        margin-left: 10px;
        color: var(--color-tiktok);
        cursor: pointer;
      }
    }
  }

  //form--login
  .menu--login--form {
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    .menu--login--title {
      margin-top: 70px;
      margin-left: 25px;
    }
    .menu--form {
      margin-left: 25px;
      margin-top: 50px;
      label {
        font-size: 1.1em;
        font-weight: bold;
      }
      input {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 330px;
        height: 40px;
        border: none;
        border-bottom: 2px solid black;
        color: black;
        font-size: 1.1em;
        font-weight: bold;
      }
      input:focus {
        outline: none;
      }
      button {
        float: right;
        margin-right: 40px;
        margin-top: 40px;
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-tiktok);
        color: white;
        font-size: 1.05em;
        font-weight: bold;
      }
      button:hover {
        background-color: var(--color-tiktok-hover);
      }
    }
  }

  // exit
  .exit--btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
  }
  .exit--btn:hover {
    background-color: var(--color-login-signup);
  }
}

.menu--signup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-form);
  z-index: 1000;

  .menu--signup--choose {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    .menu--signup--title {
      margin-top: 70px;
      margin-left: 25px;
    }
    .menu--signup--email,
    .menu--signup--google {
      margin-left: 25px;
      margin-top: 30px;
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border: 1px solid var(--color-login-signup);
      }
      button {
        width: 300px;
        height: 42px;
        border: 1px solid var(--color-login-signup);
        border-left: none;
        background-color: white;
        color: black;
        font-size: 1.05em;
        font-weight: bold;
        cursor: pointer;
      }
      button:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    .menu--signup--change {
      margin-left: 25px;
      margin-top: 50px;
      font-weight: bold;
      span {
        margin-left: 10px;
        color: var(--color-tiktok);
        cursor: pointer;
      }
    }
  }

  .menu--signup--form {
    position: absolute;
    width: 400px;
    height: 700px;
    border-radius: 5px;
    background-color: white;
    .menu--signup--title {
      margin-top: 50px;
      margin-left: 25px;
    }
    .menu--form {
      margin-left: 25px;
      margin-top: 30px;
      label {
        font-size: 1.1em;
        font-weight: bold;
      }
      input {
        margin-bottom: 10px;
        width: 330px;
        height: 30px;
        border: none;
        border-bottom: 2px solid black;
        color: black;
        font-size: 1.1em;
        //font-weight: bold;
      }
      input:focus {
        outline: none;
      }
      button {
        float: right;
        margin-right: 40px;
        margin-top: 20px;
        width: 150px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-tiktok);
        color: white;
        font-size: 1.05em;
        font-weight: bold;
      }
      button:hover {
        background-color: var(--color-tiktok-hover);
      }
      select {
        margin-bottom: 10px;
        width: 335px;
        height: 30px;
        border: none;
        border-bottom: 2px solid black;
        font-size: 1.1em;
        //font-weight: bold;
      }
      select:focus {
        outline: none;
      }
      .fullname--valid,
      .password--valid {
        margin-left: 10px;
        margin-top: -10px;
        margin-right: 40px;
        font-size: 10px;
        color: red;
        font-weight: bold;
      }

      .fullname--valid--disable,
      .password--valid--disable {
        display: none;
      }
    }
  }

  .exit--btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
  }
  .exit--btn:hover {
    background-color: var(--color-login-signup);
  }
}

// set alert css
.alert--login--success,
.alert--signup--success {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  width: 380px;
  margin-right: 0;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 100px;
  border-radius: 5px;
  background-color: rgba(11, 190, 11, 0.7);
  transition: 0.2s;
}

.alert--login--fail,
.alert--signup--fail {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  width: 380px;
  margin-right: 0;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 100px;
  border-radius: 5px;
  background-color: rgba(233, 7, 7, 0.7);
  transition: 0.2s;
}

.menu--user--menu {
  position: absolute;
  right: 0px;
  top: 53px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  transition: all 1s ease;
  background-color: rgba(0, 0, 0, 0.8);
  .user--menu--content {
    display: flex;
    padding: 15px;
    height: 100px;
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    img {
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }
    div {
      margin-top: 5px;
      margin-left: 10px;
      font-weight: bold;
      p {
        font-size: 1em;
        margin-bottom: 10px;
        color: white;
      }
      button {
        width: 60px;
        height: 35px;
        border: none;
        background-color: var(--color-tiktok);
        color: white;
        font-weight: bold;
        border-radius: 4px;
      }
      button:hover {
        background-color: var(--color-tiktok-hover);
      }
    }
  }
  .user--menu--link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    display: block;
    height: 50px;
    margin: 0;
    padding-top: 10px;
    padding-left: 15px;
    text-decoration: none;
    //text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
  }

  .user--menu--link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }
}

.disable {
  display: none;
}
