.home--page {
  width: 100%;
  height: 100vh;
  position: relative;
  .home--container {
    position: absolute;
    top: 0px;
    padding-top: 60px;
    padding-left: 15%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .home--main {
      overflow-y: scroll;
      padding-top: 30px;
      padding-bottom: 40px;
      width: 63%;
    }
  
  }
}
